/******************************TAG SELECTORS*******************************/
h1 {
    color: darkolivegreen;
}

img:hover {
    background-color: gold;
}

/******************************CLASS SELECTORS*******************************/

.bacon {
    background-color: green;
    width: 150px;
}

.broccoli {
    background-color: red;
    width: 150px;
}


/******************************CLASS SELECTORS*******************************/

#headings {
    color: darkslategrey;
}